pkgbase = pyinstaller
	pkgdesc = Bundles a Python application and all its dependencies into a single package
	pkgver = 6.6.0
	pkgrel = 2
	url = https://www.pyinstaller.org
	arch = x86_64
	license = custom
	checkdepends = python-pillow
	checkdepends = python-psutil
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	checkdepends = xmldiff
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = binutils
	depends = pyinstaller-hooks-contrib
	depends = python-altgraph
	depends = python-setuptools
	optdepends = python-argcomplete: tab completion for CLI tools
	source = pyinstaller-6.6.0.tar.gz::https://github.com/pyinstaller/pyinstaller/archive/refs/tags/v6.6.0.tar.gz
	source = fortify-source-fix.diff
	sha256sums = a37fa49f49232b27d87238e3c7b48b98e688d256c2667c2368d5366193d04775
	sha256sums = 46f7cfd082570a3f4c138a868e55dc39deacccbff602ce7e70d033236566fa1b

pkgname = pyinstaller
